.hero-badge {
  display: flex;
  margin-bottom: .5rem;

  &:hover {
    cursor: pointer;
  }

  &__id, &__name {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  &__id {
    background-color: $primary-color;
    color: white;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

  &__name {
    position: relative;
    background-color: $light-gray;
    min-width: 15rem;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;

    .delete-icon {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%) rotate(45deg);
      font-size: 2rem;
      font-weight: bold;
      cursor: pointer;
      color: $primary-color;
    }
  }
}
