.card {
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  background-color: $cards-background-color;
  border: 1px solid $button-background-color;
  border-radius: .25rem;

  .card-title,
  .card-body {
    padding: 1rem;
  }

  .card-title {
    font-size: 1.5rem;
    border-bottom: 1px solid $button-background-color;
  }

  .card-footer {
    display: flex;
    padding: .5rem 1rem;
    border-top: 1px solid $button-background-color;
  }
}
