*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
}

.navbar {
  @include box-shadow;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
  color: white;
  background-color: $primary-color
}

