nav {
  display: flex;
  justify-content: center;
  gap: .5rem;
  padding: .5rem;
}

nav a {
  display: inline-flex;
  padding: 1rem;
  border-radius: .25rem;
  text-decoration: none;
  background-color: $button-background-color;
  color: $primary-color;
}

nav a:hover:not(.active) {
  @include box-shadow;
  background-color: $primary-color-dark;
  color: $button-background-color;
}

nav .active {
  background-color: $primary-color;
  color: $button-background-color;
}
