<div *ngIf="hero" class="flex justify-content-center mt-2">
  <div class="card">
    <div class="card-title">{{ hero.name | uppercase }} Details</div>

    <div class="card-body">
      <div class="form-group">
        <label for="id">ID</label>
        <input type="text" [(ngModel)]="hero.id" id="id" disabled placeholder="Hero id"/>
      </div>

      <div class="form-group">
        <label for="name">Hero name:</label>
        <input type="text" [(ngModel)]="hero.name" id="name" placeholder="Hero name" maxlength="30" required/>
      </div>
    </div>

    <div class="card-footer justify-content-center">
      <button mat-raised-button class="btn btn-primary" type="button" [disabled]="hero.name.length < 1"
              (click)="goBack()">
        {{ "Save and go back" | uppercase }}
      </button>
    </div>
  </div>
</div>
