<div class="flex flex-column justify-content-center mt-2">

  <div class="card align-self-center">
    <button mat-raised-button (click)="openDialog()">{{'Create Hero' | uppercase}}</button>
  </div>

  <div class="flex flex-column align-self-center m-2">
    <div class="text-title mx-4">My heroes</div>
    <div class="flex flex-column">
      <div *ngFor="let hero of heroes" class="position-relative">
        <div class="hero-badge" [routerLink]="['/detail/', hero.id]">
          <div class="hero-badge__id">{{ hero.id }}</div>
          <div class="hero-badge__name">
            <span [value]="hero.name" customText>{{ hero.name }}</span>
          </div>
        </div>
        <span (click)="deleteHero($event, hero)" class="delete-icon">+</span>
      </div>
    </div>
  </div>
</div>
